s3dis_blacklist.txt
scannet_blacklist.txt
blacklist.txt
error.log
tf3d
colors.npz
colors.npz.lnk
rewards.npz
stats.txt
.ipynb_checkpoints/

tmp/
cache/
cache_scannet/
cache_s3dis/
s3dis/
scannet/
PointcloudScenes/
Scannet_Scenes/
S3DIS_Scenes/
S3DIS_L_Scenes/
transitions/
models/
logs/
data/
render/
snapshot/

environment/bin/

documentation/
index.html
documentation.html

# linux
environment/segmentation.o
environment/segmentation_ext.so
environment/segmentation_ext.pyd
environment/segmentation_ext.cpython-36m-x86_64-linux-gnu.so
libcp.so
libgeo.so
libply_c.so

# windows
*.dll
*.exp
*.iobj
*.ipdb
*.lib
*.log
*.obj
*.obj.rsp
*.pdb
*.vcxproj.CopyComplete
*.vcxproj.FileListAbsolute.txt

# Python
__pycache__
